body{
    background-color:crimson;
}

.header{
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#linkedin{
    margin-right: 12px;
    height: 50px;
}

.header2{
    background-color: aquamarine;
    align-items: center;
    justify-content:last baseline;
    display: flex;
}